# Zabbix Informix collectors.
# @RUNTIME_ENV@ and @LAUNCHER_HOME@ are replaced by the installer.

UserParameter=ifx.health.instance_state,ZABBIX_INFORMIX_RUNTIME_ENV=@RUNTIME_ENV@ @LAUNCHER_HOME@/ifx-health-001
UserParameter=ifx.health.instance_uptime,ZABBIX_INFORMIX_RUNTIME_ENV=@RUNTIME_ENV@ @LAUNCHER_HOME@/ifx-health-002
UserParameter=ifx.health.assert_failures.raw,ZABBIX_INFORMIX_RUNTIME_ENV=@RUNTIME_ENV@ @LAUNCHER_HOME@/ifx-health-003
UserParameter=ifx.health.checkpoint_count,ZABBIX_INFORMIX_RUNTIME_ENV=@RUNTIME_ENV@ @LAUNCHER_HOME@/ifx-health-004
UserParameter=ifx.health.checkpoint_duration,ZABBIX_INFORMIX_RUNTIME_ENV=@RUNTIME_ENV@ @LAUNCHER_HOME@/ifx-health-005
UserParameter=ifx.health.checkpoint_waits,ZABBIX_INFORMIX_RUNTIME_ENV=@RUNTIME_ENV@ @LAUNCHER_HOME@/ifx-health-006
UserParameter=ifx.health.lru_writes,ZABBIX_INFORMIX_RUNTIME_ENV=@RUNTIME_ENV@ @LAUNCHER_HOME@/ifx-health-007
UserParameter=ifx.health.foreground_writes,ZABBIX_INFORMIX_RUNTIME_ENV=@RUNTIME_ENV@ @LAUNCHER_HOME@/ifx-health-008
UserParameter=ifx.session.total_connected,ZABBIX_INFORMIX_RUNTIME_ENV=@RUNTIME_ENV@ @LAUNCHER_HOME@/ifx-session-001
UserParameter=ifx.session.in_read_call,ZABBIX_INFORMIX_RUNTIME_ENV=@RUNTIME_ENV@ @LAUNCHER_HOME@/ifx-session-002
UserParameter=ifx.session.weekly_peak_physical_connections,ZABBIX_INFORMIX_RUNTIME_ENV=@RUNTIME_ENV@ @LAUNCHER_HOME@/ifx-session-003
UserParameter=ifx.session.waiting_client_sessions,ZABBIX_INFORMIX_RUNTIME_ENV=@RUNTIME_ENV@ @LAUNCHER_HOME@/ifx-session-004
UserParameter=ifx.session.waiting_client_sessions_by_reason.raw,ZABBIX_INFORMIX_RUNTIME_ENV=@RUNTIME_ENV@ @LAUNCHER_HOME@/ifx-session-005